@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

//typography

$font-size: 18px;
$font-family: "Outfit", sans-serif;
$font-weight-light: 300;
$font-weight-medium: 400;
$font-weight-bold: 600;

// colors

$color-soft-blue: hsl(215, 51%, 70%);
$color-cyan: hsl(178, 100%, 50%);

$color-very-dark-blue-main-bg: hsl(217, 54%, 11%);
$color-very-dark-blue-card-bg: hsl(216, 50%, 16%);
$color-very-dark-blue-line: hsl(215, 32%, 27%);
$color-white: #fff;
